

body {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#exo4 {
    width: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dateContainer {
    font-weight: bold;
    width:600px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EAEAEA;
    padding:10%;
}

#date {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    width:250px;
    height:350px;
}

#dateHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height:20%;
    width:100%;
    font-size:4rem;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
    background-color: #B03737;
    border-radius: 30px 30px 0px 0px;
    border:solid 3px #912B2B;
    border-bottom: 0px;
}

#dateDay {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:27.5%;
    font-size: 4rem;
    color:#909090;
    background-color: white;
    border:solid 3px #D3D3D3;
    border-bottom: 0px;
    border-top: 0px;
}

#dateMonth {
    border:solid 3px #D3D3D3;
    border-bottom: 0px;
    border-top: 0px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:27.5%;
    font-size:4rem;
    background-color: white;
    color:#7C7C7C;
}

#dateFooter {
    border:solid 3px #912B2B;
    border-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:25%;
    width:100%;
    font-size: 3rem;
    color:white;
    background-color: #B03737;
    border-radius: 0px 0px 30px 30px;
    font-weight: bold;
}

#time {
    color:#474747;
    font-size: 4rem;
    font-weight: bold;
    cursor:pointer;
}

.timeSeconds {
    font-size: 3rem;
}

