

body {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#exo4 {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dateContainer {
    font-weight: bold;
    width:700px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EAEAEA;
    padding:8%;
}

#date {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    width:225px;
    height:310px;
}

#dateHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height:18%;
    width:100%;
    font-size:3rem;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
    background-color: #B03737;
    border-radius: 40px 40px 0px 0px;
    border:solid 4px #912B2B;
    border-bottom: 0px;
}

#dateDay {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:31%;
    font-size: 5rem;
    color:#909090;
    background-color: white;
    border:solid 4px #D3D3D3;
    border-bottom: 0px;
    border-top: 0px;
}

#dateMonth {
    border:solid 4px #D3D3D3;
    border-bottom: 0px;
    border-top: 0px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:27.5%;
    font-size:4rem;
    font-weight: bold;
    background-color: white;
    color:#7C7C7C;
}

#dateFooter {
    border:solid 4px #912B2B;
    border-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:22%;
    width:100%;
    font-size: 2.5rem;
    color:white;
    background-color: #B03737;
    border-radius: 0px 0px 40px 40px;
    font-weight: bold;
}

#time {
    margin-left: 30px;
    color:#474747;
    font-size: 7rem;
    font-weight: bold;
    cursor:pointer;
}

.timeSeconds {
    font-size: 4rem;
}

